:root {
  --input-text-bg: #f1f1f1;
}

.search_wrap {
}
.container {
  padding-bottom: 64px;
}
.search_wrap .text {
}

.search_wrap .search-input {
  padding: 13px 15px;
  background: var(--input-text-bg);
  border-radius: 10px;
}

.search_wrap .form-control:focus {
  background: var(--input-text-bg);
  box-shadow: none;
}

.search_wrap .search-list {
  flex-direction: row;
  /* width: fit-content; */
  margin: 15px -4px 0;
}

.search_wrap .search-item {
  padding: 4px;
}

.search_wrap .btn-item {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.05em;
  border: 1px solid #2e8cfe;
  border-radius: 50px;
}

.search_wrap .nav-search {
  margin-bottom: 21px;
  padding: 20px;
  height: 65px;
  line-height: 65px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.165px;
  color: #fff;
  background: #2e8cfe;
  border-radius: 10px;
  box-sizing: border-box;
}
.link {
  cursor: pointer;
}
