.mypage-wrap.container {
    position: relative;
    max-width: 425px;
    background-color: #f8fbff;
    text-align: center;
}

.mypage-wrap::before {
    content: '';
    position: absolute;
    width: 375px;
    height: 521px;
    left: 50%;
    top: -225px;
    background: #2e8cfe;
    border-radius: 151.5px;
    transform: translate(-50%, 0);
}

.mypage-wrap.profile-info-wrap {
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #232323;
}

.mypage-wrap .btn-profile {
    padding: 6px 16px;
    margin: 0 5.5px;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.05em;
    color: #ffffff;
    background: #2e8cfe;
    border-radius: 20px;
}

.mypage-wrap .btn-profile::before {
    content: '';
    position: absolute;
    right: 0;
}

.mypage-wrap .btn-profile::before {
    content: '';
    position: absolute;
    right: 0;
}

.mypage-wrap .btn-error-modal {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 160px;
    padding: 20px;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #232323;
    text-align: left;
    background-color: #fff;
    border: 8px solid #f8fbff;
    border-radius: 20px;
}

.mypage-wrap .btn-error-modal::before {
    content: '';
    position: absolute;
    right: 22px;
    bottom: 17px;
    background-repeat: no-repeat;
    background-size: 39.33px 33px;
    background-position: center;
}

.mypage-wrap .link-mypage1::before {
    width: 32.2px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='34' viewBox='0 0 36 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9431 32H25.252M18.0976 32V24.9412M18.0976 24.9412C13.1584 24.9412 9.15447 20.9907 9.15447 16.1176V2H27.0407V16.1176C27.0407 20.9907 23.0367 24.9412 18.0976 24.9412ZM27.0407 5.52941H29.7236C32.1931 5.52941 34.1951 7.50463 34.1951 9.94118C34.1951 12.3777 32.1931 14.3529 29.7236 14.3529H27.0407M9.15447 14.3529H6.47154C4.00198 14.3529 2 12.3777 2 9.94118C2 7.50463 4.00198 5.52941 6.47155 5.52941H9.15447' stroke='%232E8CFE' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: 32.2px 30px;
}
.mypage-wrap .link-mypage2::before {
    width: 26.51px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='34' viewBox='0 0 30 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.2812 24.5203H20.0312C20.0312 24.8244 20.1421 25.1182 20.3431 25.3464L21.2812 24.5203ZM22.5312 21.7838C22.5312 21.0934 21.9715 20.5338 21.2812 20.5338C20.5908 20.5338 20.0312 21.0934 20.0312 21.7838H22.5312ZM21.7892 26.9883C22.2455 27.5064 23.0354 27.5565 23.5534 27.1002C24.0715 26.6439 24.1216 25.854 23.6653 25.336L21.7892 26.9883ZM10.0338 16.223C10.7242 16.223 11.2838 15.6633 11.2838 14.973C11.2838 14.2826 10.7242 13.723 10.0338 13.723V16.223ZM2 13.723C1.30964 13.723 0.75 14.2826 0.75 14.973C0.75 15.6633 1.30964 16.223 2 16.223V13.723ZM26.4582 11.7297C26.4582 12.4201 27.0179 12.9797 27.7082 12.9797C28.3986 12.9797 28.9582 12.4201 28.9582 11.7297H26.4582ZM10.0338 32.4392C10.7242 32.4392 11.2838 31.8795 11.2838 31.1892C11.2838 30.4988 10.7242 29.9392 10.0338 29.9392V32.4392ZM20.9244 2C20.9244 1.30964 20.3648 0.75 19.6744 0.75C18.9841 0.75 18.4244 1.30964 18.4244 2H20.9244ZM18.4244 8.48649C18.4244 9.17684 18.9841 9.73649 19.6744 9.73649C20.3648 9.73649 20.9244 9.17684 20.9244 8.48649H18.4244ZM11.2838 2C11.2838 1.30964 10.7242 0.75 10.0338 0.75C9.34347 0.75 8.78383 1.30964 8.78383 2H11.2838ZM8.78383 8.48649C8.78383 9.17684 9.34347 9.73649 10.0338 9.73649C10.7242 9.73649 11.2838 9.17684 11.2838 8.48649H8.78383ZM27.2616 24.7027C27.2616 28.0534 24.5733 30.75 21.2812 30.75V33.25C25.9756 33.25 29.7616 29.4124 29.7616 24.7027H27.2616ZM21.2812 30.75C17.9891 30.75 15.3007 28.0534 15.3007 24.7027H12.8007C12.8007 29.4124 16.5867 33.25 21.2812 33.25V30.75ZM15.3007 24.7027C15.3007 21.352 17.9891 18.6554 21.2812 18.6554V16.1554C16.5867 16.1554 12.8007 19.993 12.8007 24.7027H15.3007ZM21.2812 18.6554C24.5733 18.6554 27.2616 21.352 27.2616 24.7027H29.7616C29.7616 19.993 25.9756 16.1554 21.2812 16.1554V18.6554ZM22.5312 24.5203V21.7838H20.0312V24.5203H22.5312ZM20.3431 25.3464L21.7892 26.9883L23.6653 25.336L22.2192 23.6941L20.3431 25.3464ZM10.0338 13.723H2V16.223H10.0338V13.723ZM3.25 27.9459V8.48649H0.75V27.9459H3.25ZM5.21353 29.9392C4.13992 29.9392 3.25 29.0577 3.25 27.9459H0.75C0.75 30.4166 2.73757 32.4392 5.21353 32.4392V29.9392ZM5.21353 3.99324C2.73757 3.99324 0.75 6.01581 0.75 8.48649H3.25C3.25 7.37478 4.13992 6.49324 5.21353 6.49324V3.99324ZM28.9582 11.7297V8.48649H26.4582V11.7297H28.9582ZM24.4947 6.49324C25.5683 6.49324 26.4582 7.37478 26.4582 8.48649H28.9582C28.9582 6.01581 26.9707 3.99324 24.4947 3.99324V6.49324ZM24.4947 3.99324H5.21353V6.49324H24.4947V3.99324ZM5.21353 32.4392H10.0338V29.9392H5.21353V32.4392ZM18.4244 2V8.48649H20.9244V2H18.4244ZM8.78383 2V8.48649H11.2838V2H8.78383Z' fill='%232E8CFE'/%3E%3C/svg%3E%0A");
    background-size: 26.51px 30px;
}

.mypage-wrap .link-mypage3::before {
    width: 21.82px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='34' viewBox='0 0 26 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8182 32L22.9476 32.897C23.3079 33.2467 23.8426 33.3469 24.3051 33.1512C24.7677 32.9556 25.0682 32.5022 25.0682 32H23.8182ZM2 32H0.75C0.75 32.5022 1.05053 32.9556 1.51304 33.1512C1.97555 33.3469 2.51024 33.2467 2.87059 32.897L2 32ZM12.9091 21.4118L13.7797 20.5148C13.2947 20.0441 12.5235 20.0441 12.0385 20.5148L12.9091 21.4118ZM5.63636 3.25H20.1818V0.75H5.63636V3.25ZM22.5682 5.52941V32H25.0682V5.52941H22.5682ZM3.25 32V5.52941H0.75V32H3.25ZM24.6888 31.103L13.7797 20.5148L12.0385 22.3087L22.9476 32.897L24.6888 31.103ZM12.0385 20.5148L1.12941 31.103L2.87059 32.897L13.7797 22.3087L12.0385 20.5148ZM20.1818 3.25C21.5352 3.25 22.5682 4.30544 22.5682 5.52941H25.0682C25.0682 2.8549 22.845 0.75 20.1818 0.75V3.25ZM5.63636 0.75C2.97314 0.75 0.75 2.8549 0.75 5.52941H3.25C3.25 4.30544 4.28297 3.25 5.63636 3.25V0.75Z' fill='%232E8CFE'/%3E%3C/svg%3E%0A");
    background-size: 21.82px 30px;
}

.mypage-wrap .link-mypage4::before {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1176 30.75C15.4273 30.75 14.8676 31.3096 14.8676 32C14.8676 32.6904 15.4273 33.25 16.1176 33.25V30.75ZM31.1176 33.25C31.808 33.25 32.3676 32.6904 32.3676 32C32.3676 31.3096 31.808 30.75 31.1176 30.75V33.25ZM2 32H0.75C0.75 32.6904 1.30964 33.25 2 33.25L2 32ZM2 24.9412L1.11612 24.0573C0.881696 24.2917 0.75 24.6097 0.75 24.9412H2ZM24.9412 2L25.8251 1.11612C25.5906 0.881696 25.2727 0.75 24.9412 0.75C24.6097 0.75 24.2917 0.881696 24.0573 1.11612L24.9412 2ZM32 9.05882L32.8839 9.94271C33.372 9.45455 33.372 8.6631 32.8839 8.17494L32 9.05882ZM9.05882 32V33.25C9.39034 33.25 9.70829 33.1183 9.94271 32.8839L9.05882 32ZM26.7059 14.3529L27.5898 15.2368H27.5898L26.7059 14.3529ZM16.1176 33.25H31.1176V30.75H16.1176V33.25ZM3.25 32V24.9412H0.75V32H3.25ZM24.0573 2.88388L31.1161 9.94271L32.8839 8.17494L25.8251 1.11612L24.0573 2.88388ZM9.05882 30.75H2V33.25H9.05882V30.75ZM31.1161 8.17494L25.822 13.4691L27.5898 15.2368L32.8839 9.94271L31.1161 8.17494ZM25.822 13.4691L8.17494 31.1161L9.94271 32.8839L27.5898 15.2368L25.822 13.4691ZM2.88388 25.8251L20.5309 8.178L18.7632 6.41023L1.11612 24.0573L2.88388 25.8251ZM20.5309 8.178L25.8251 2.88388L24.0573 1.11612L18.7632 6.41023L20.5309 8.178ZM27.5898 13.4691L20.5309 6.41023L18.7632 8.178L25.822 15.2368L27.5898 13.4691Z' fill='%232E8CFE'/%3E%3C/svg%3E%0A");
    background-size: 30px 30px;
}

.error-modal {
    min-height: 425px;
    padding: 21px;
}

.error-modal .modal-header {
    padding: 0;
    border-bottom: 0;
}

.mypage-wrap.profile-info-wrap {
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #232323;
}

.mypage-wrap .btn-profile {
    padding: 6px 16px;
    margin: 0 5.5px;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.05em;
    color: #ffffff;
    background: #2e8cfe;
    border-radius: 20px;
}

.mypage-wrap .btn-profile::before {
    content: '';
    position: absolute;
    right: 0;
}

.mypage-wrap .btn-error-modal::before {
    content: '';
    position: absolute;
    right: 22px;
    bottom: 17px;
    background-repeat: no-repeat;
    background-size: 39.33px 33px;
    background-position: center;
}

.mypage-wrap .link-mypage1::before {
    width: 32.2px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='34' viewBox='0 0 36 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9431 32H25.252M18.0976 32V24.9412M18.0976 24.9412C13.1584 24.9412 9.15447 20.9907 9.15447 16.1176V2H27.0407V16.1176C27.0407 20.9907 23.0367 24.9412 18.0976 24.9412ZM27.0407 5.52941H29.7236C32.1931 5.52941 34.1951 7.50463 34.1951 9.94118C34.1951 12.3777 32.1931 14.3529 29.7236 14.3529H27.0407M9.15447 14.3529H6.47154C4.00198 14.3529 2 12.3777 2 9.94118C2 7.50463 4.00198 5.52941 6.47155 5.52941H9.15447' stroke='%232E8CFE' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: 32.2px 30px;
}
.mypage-wrap .link-mypage2::before {
    width: 26.51px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='34' viewBox='0 0 30 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.2812 24.5203H20.0312C20.0312 24.8244 20.1421 25.1182 20.3431 25.3464L21.2812 24.5203ZM22.5312 21.7838C22.5312 21.0934 21.9715 20.5338 21.2812 20.5338C20.5908 20.5338 20.0312 21.0934 20.0312 21.7838H22.5312ZM21.7892 26.9883C22.2455 27.5064 23.0354 27.5565 23.5534 27.1002C24.0715 26.6439 24.1216 25.854 23.6653 25.336L21.7892 26.9883ZM10.0338 16.223C10.7242 16.223 11.2838 15.6633 11.2838 14.973C11.2838 14.2826 10.7242 13.723 10.0338 13.723V16.223ZM2 13.723C1.30964 13.723 0.75 14.2826 0.75 14.973C0.75 15.6633 1.30964 16.223 2 16.223V13.723ZM26.4582 11.7297C26.4582 12.4201 27.0179 12.9797 27.7082 12.9797C28.3986 12.9797 28.9582 12.4201 28.9582 11.7297H26.4582ZM10.0338 32.4392C10.7242 32.4392 11.2838 31.8795 11.2838 31.1892C11.2838 30.4988 10.7242 29.9392 10.0338 29.9392V32.4392ZM20.9244 2C20.9244 1.30964 20.3648 0.75 19.6744 0.75C18.9841 0.75 18.4244 1.30964 18.4244 2H20.9244ZM18.4244 8.48649C18.4244 9.17684 18.9841 9.73649 19.6744 9.73649C20.3648 9.73649 20.9244 9.17684 20.9244 8.48649H18.4244ZM11.2838 2C11.2838 1.30964 10.7242 0.75 10.0338 0.75C9.34347 0.75 8.78383 1.30964 8.78383 2H11.2838ZM8.78383 8.48649C8.78383 9.17684 9.34347 9.73649 10.0338 9.73649C10.7242 9.73649 11.2838 9.17684 11.2838 8.48649H8.78383ZM27.2616 24.7027C27.2616 28.0534 24.5733 30.75 21.2812 30.75V33.25C25.9756 33.25 29.7616 29.4124 29.7616 24.7027H27.2616ZM21.2812 30.75C17.9891 30.75 15.3007 28.0534 15.3007 24.7027H12.8007C12.8007 29.4124 16.5867 33.25 21.2812 33.25V30.75ZM15.3007 24.7027C15.3007 21.352 17.9891 18.6554 21.2812 18.6554V16.1554C16.5867 16.1554 12.8007 19.993 12.8007 24.7027H15.3007ZM21.2812 18.6554C24.5733 18.6554 27.2616 21.352 27.2616 24.7027H29.7616C29.7616 19.993 25.9756 16.1554 21.2812 16.1554V18.6554ZM22.5312 24.5203V21.7838H20.0312V24.5203H22.5312ZM20.3431 25.3464L21.7892 26.9883L23.6653 25.336L22.2192 23.6941L20.3431 25.3464ZM10.0338 13.723H2V16.223H10.0338V13.723ZM3.25 27.9459V8.48649H0.75V27.9459H3.25ZM5.21353 29.9392C4.13992 29.9392 3.25 29.0577 3.25 27.9459H0.75C0.75 30.4166 2.73757 32.4392 5.21353 32.4392V29.9392ZM5.21353 3.99324C2.73757 3.99324 0.75 6.01581 0.75 8.48649H3.25C3.25 7.37478 4.13992 6.49324 5.21353 6.49324V3.99324ZM28.9582 11.7297V8.48649H26.4582V11.7297H28.9582ZM24.4947 6.49324C25.5683 6.49324 26.4582 7.37478 26.4582 8.48649H28.9582C28.9582 6.01581 26.9707 3.99324 24.4947 3.99324V6.49324ZM24.4947 3.99324H5.21353V6.49324H24.4947V3.99324ZM5.21353 32.4392H10.0338V29.9392H5.21353V32.4392ZM18.4244 2V8.48649H20.9244V2H18.4244ZM8.78383 2V8.48649H11.2838V2H8.78383Z' fill='%232E8CFE'/%3E%3C/svg%3E%0A");
    background-size: 26.51px 30px;
}

.mypage-wrap .link-mypage3::before {
    width: 21.82px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='34' viewBox='0 0 26 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8182 32L22.9476 32.897C23.3079 33.2467 23.8426 33.3469 24.3051 33.1512C24.7677 32.9556 25.0682 32.5022 25.0682 32H23.8182ZM2 32H0.75C0.75 32.5022 1.05053 32.9556 1.51304 33.1512C1.97555 33.3469 2.51024 33.2467 2.87059 32.897L2 32ZM12.9091 21.4118L13.7797 20.5148C13.2947 20.0441 12.5235 20.0441 12.0385 20.5148L12.9091 21.4118ZM5.63636 3.25H20.1818V0.75H5.63636V3.25ZM22.5682 5.52941V32H25.0682V5.52941H22.5682ZM3.25 32V5.52941H0.75V32H3.25ZM24.6888 31.103L13.7797 20.5148L12.0385 22.3087L22.9476 32.897L24.6888 31.103ZM12.0385 20.5148L1.12941 31.103L2.87059 32.897L13.7797 22.3087L12.0385 20.5148ZM20.1818 3.25C21.5352 3.25 22.5682 4.30544 22.5682 5.52941H25.0682C25.0682 2.8549 22.845 0.75 20.1818 0.75V3.25ZM5.63636 0.75C2.97314 0.75 0.75 2.8549 0.75 5.52941H3.25C3.25 4.30544 4.28297 3.25 5.63636 3.25V0.75Z' fill='%232E8CFE'/%3E%3C/svg%3E%0A");
    background-size: 21.82px 30px;
}

.mypage-wrap .link-mypage4::before {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1176 30.75C15.4273 30.75 14.8676 31.3096 14.8676 32C14.8676 32.6904 15.4273 33.25 16.1176 33.25V30.75ZM31.1176 33.25C31.808 33.25 32.3676 32.6904 32.3676 32C32.3676 31.3096 31.808 30.75 31.1176 30.75V33.25ZM2 32H0.75C0.75 32.6904 1.30964 33.25 2 33.25L2 32ZM2 24.9412L1.11612 24.0573C0.881696 24.2917 0.75 24.6097 0.75 24.9412H2ZM24.9412 2L25.8251 1.11612C25.5906 0.881696 25.2727 0.75 24.9412 0.75C24.6097 0.75 24.2917 0.881696 24.0573 1.11612L24.9412 2ZM32 9.05882L32.8839 9.94271C33.372 9.45455 33.372 8.6631 32.8839 8.17494L32 9.05882ZM9.05882 32V33.25C9.39034 33.25 9.70829 33.1183 9.94271 32.8839L9.05882 32ZM26.7059 14.3529L27.5898 15.2368H27.5898L26.7059 14.3529ZM16.1176 33.25H31.1176V30.75H16.1176V33.25ZM3.25 32V24.9412H0.75V32H3.25ZM24.0573 2.88388L31.1161 9.94271L32.8839 8.17494L25.8251 1.11612L24.0573 2.88388ZM9.05882 30.75H2V33.25H9.05882V30.75ZM31.1161 8.17494L25.822 13.4691L27.5898 15.2368L32.8839 9.94271L31.1161 8.17494ZM25.822 13.4691L8.17494 31.1161L9.94271 32.8839L27.5898 15.2368L25.822 13.4691ZM2.88388 25.8251L20.5309 8.178L18.7632 6.41023L1.11612 24.0573L2.88388 25.8251ZM20.5309 8.178L25.8251 2.88388L24.0573 1.11612L18.7632 6.41023L20.5309 8.178ZM27.5898 13.4691L20.5309 6.41023L18.7632 8.178L25.822 15.2368L27.5898 13.4691Z' fill='%232E8CFE'/%3E%3C/svg%3E%0A");
    background-size: 30px 30px;
}

.error-modal {
    min-height: 425px;
    padding: 21px;
}

.error-modal .modal-header {
    padding: 0;
    border-bottom: 0;
}

.error-modal .modal-title {
    position: relative;
    margin: 0 auto;
    padding-top: 250px;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #232323;
}

.error-modal .modal-title::before {
    content: '';
    position: absolute;
    bottom: 46px;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #2e8cfe;
    transform: translate(-50%, 0);
}

.error-modal .modal-title::after {
    content: '';
    position: absolute;
    bottom: 46px;
    left: 50%;
    width: 120px;
    height: 120px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='33' viewBox='0 0 40 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.8519 12.6925C33.985 11.9043 33.9444 11.0966 33.7331 10.3258C33.5217 9.55496 33.1447 8.83953 32.6282 8.22947C32.1118 7.61941 31.4685 7.12941 30.7431 6.7937C30.0177 6.45798 29.2278 6.28463 28.4285 6.28575L28.4025 6.29103C28.4319 4.81873 28.1446 3.35731 27.56 2.00575C27.5038 1.89556 27.4225 1.8001 27.3227 1.72703C27.2229 1.65396 27.1074 1.60532 26.9853 1.58502C26.8633 1.56472 26.7383 1.57333 26.6202 1.61015C26.5021 1.64697 26.3943 1.71098 26.3054 1.79703C24.5254 3.16713 22.4923 4.1721 20.3228 4.75422C18.5354 5.40948 16.9993 6.61034 15.932 8.18683C14.8273 7.16622 13.4238 6.5276 11.9286 6.36517V3.92861C11.9275 2.88702 11.5133 1.88841 10.7767 1.1519C10.0402 0.415382 9.04163 0.00112851 8.00004 3.44852e-05C7.79166 3.44852e-05 7.59181 0.0828152 7.44446 0.230165C7.29711 0.377515 7.21433 0.577364 7.21433 0.785749C7.21433 0.994133 7.29711 1.19398 7.44446 1.34133C7.59181 1.48868 7.79166 1.57147 8.00004 1.57147C8.62499 1.57215 9.22413 1.82071 9.66603 2.26261C10.1079 2.70451 10.3565 3.30366 10.3572 3.92861V6.36517C8.75121 6.54548 7.2563 7.27322 6.12376 8.42605C4.99122 9.57887 4.29013 11.0865 4.13834 12.6954C3.66415 12.8465 3.25009 13.1441 2.95571 13.5454C2.66133 13.9466 2.50181 14.4309 2.50007 14.9286V16.5001C2.49255 18.9928 3.05498 21.4544 4.1444 23.6965C5.23381 25.9386 6.82137 27.902 8.78576 29.4367V30.6429C8.78644 31.2678 9.035 31.867 9.4769 32.3089C9.9188 32.7508 10.5179 32.9994 11.1429 33H26.8571C27.4821 32.9994 28.0812 32.7508 28.5231 32.3089C28.965 31.867 29.2136 31.2678 29.2143 30.6429V29.4367C31.1786 27.902 32.7662 25.9386 33.8556 23.6965C34.945 21.4544 35.5075 18.9928 35.4999 16.5001V14.9286C35.4982 14.4292 35.3375 13.9433 35.0413 13.5413C34.745 13.1393 34.3284 12.842 33.8519 12.6925ZM28.2473 7.82064C28.306 7.8402 28.3668 7.85247 28.4285 7.85717C29.0124 7.85214 29.59 7.97844 30.1184 8.22673C30.6469 8.47502 31.1128 8.83895 31.4817 9.2916C31.8505 9.74424 32.1129 10.274 32.2494 10.8418C32.3858 11.4095 32.3929 12.0006 32.2701 12.5715H25.7532C27.0322 11.2665 27.8995 9.61446 28.2473 7.82064ZM20.82 6.24585C22.822 5.62881 24.7321 4.74623 26.4996 3.62169C27.012 5.24516 26.9908 6.99007 26.4393 8.60067C25.8878 10.2113 24.8349 11.6029 23.4349 12.5715H18.1349C18.0184 11.4326 17.6252 10.3395 16.9895 9.38735C17.8857 7.94707 19.2322 6.84279 20.82 6.24585ZM11.1429 7.85717C12.4619 7.86106 13.7355 8.33956 14.7308 9.20517C15.7261 10.0708 16.3767 11.2657 16.5635 12.5715H5.72233C5.90915 11.2657 6.55966 10.0708 7.55496 9.20517C8.55025 8.33956 9.82384 7.86106 11.1429 7.85717ZM33.9285 16.5001C33.9347 18.8216 33.3949 21.1121 32.3527 23.1866C31.3106 25.261 29.7952 27.0614 27.929 28.4423C27.8121 28.5315 27.7231 28.6523 27.6724 28.7904C27.6217 28.9285 27.6114 29.0781 27.6428 29.2219V30.6429C27.6426 30.8512 27.5597 31.0509 27.4124 31.1982C27.2651 31.3455 27.0654 31.4283 26.8571 31.4286H11.1429C10.9346 31.4283 10.7349 31.3455 10.5876 31.1982C10.4403 31.0509 10.3574 30.8512 10.3572 30.6429V29.2802C10.3993 29.1279 10.3946 28.9665 10.3435 28.817C10.2924 28.6675 10.1974 28.5369 10.071 28.4423C8.20478 27.0614 6.68944 25.261 5.64727 23.1866C4.60511 21.1121 4.06532 18.8216 4.07149 16.5001V14.9286C4.07176 14.7203 4.15463 14.5206 4.30192 14.3733C4.44921 14.226 4.6489 14.1432 4.8572 14.1429H33.1428C33.3511 14.1432 33.5508 14.226 33.6981 14.3733C33.8454 14.5206 33.9283 14.7203 33.9285 14.9286V16.5001Z' fill='%23FCFDFF'/%3E%3Cpath d='M33.6392 4.15267C33.7684 4.23901 33.9203 4.2851 34.0756 4.28512C34.1788 4.28523 34.281 4.26494 34.3764 4.22543C34.4717 4.18591 34.5583 4.12796 34.6311 4.05488L36.2025 2.48345C36.3457 2.33526 36.4248 2.13679 36.4231 1.93078C36.4213 1.72477 36.3386 1.5277 36.193 1.38202C36.0473 1.23635 35.8502 1.15371 35.6442 1.15192C35.4382 1.15013 35.2397 1.22933 35.0915 1.37245L33.5201 2.94388C33.4102 3.05376 33.3354 3.19375 33.3051 3.34615C33.2748 3.49855 33.2904 3.65652 33.3498 3.80008C33.4093 3.94363 33.51 4.06634 33.6392 4.15267Z' fill='%23FCFDFF'/%3E%3Cpath d='M2.7839 8.05438C2.65471 8.14072 2.50283 8.18681 2.34744 8.18683C2.24425 8.18694 2.14206 8.16665 2.04674 8.12714C1.95141 8.08763 1.86483 8.02967 1.79198 7.95659L0.220557 6.38516C0.0774337 6.23697 -0.00176058 6.0385 2.97058e-05 5.83249C0.00181999 5.62647 0.0844513 5.42941 0.230128 5.28373C0.375806 5.13805 0.572873 5.05542 0.778884 5.05363C0.984895 5.05184 1.18336 5.13103 1.33155 5.27416L2.90298 6.84559C3.01284 6.95547 3.08765 7.09546 3.11796 7.24786C3.14827 7.40026 3.13271 7.55823 3.07325 7.70179C3.01379 7.84534 2.91309 7.96805 2.7839 8.05438Z' fill='%23FCFDFF'/%3E%3Cpath d='M36.5421 10.7093C36.6713 10.7956 36.8232 10.8417 36.9786 10.8418C37.0818 10.8419 37.184 10.8216 37.2793 10.7821C37.3746 10.7425 37.4612 10.6846 37.5341 10.6115L39.1055 9.04008C39.2486 8.8919 39.3278 8.69342 39.326 8.48741C39.3242 8.2814 39.2416 8.08433 39.0959 7.93866C38.9502 7.79298 38.7532 7.71034 38.5471 7.70855C38.3411 7.70676 38.1427 7.78596 37.9945 7.92908L36.4231 9.50051C36.3132 9.61039 36.2384 9.75039 36.2081 9.90279C36.1778 10.0552 36.1933 10.2132 36.2528 10.3567C36.3122 10.5003 36.4129 10.623 36.5421 10.7093Z' fill='%23FCFDFF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 39.33px 33px;
    transform: translate(-50%, 0);
    background-position: center;
}

.error-modal .modal-body {
    margin-top: 11px;
    margin-bottom: 104px;
    padding-top: 0;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 12px;
    line-height: 14.4px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #232323;
}

.modal-backdrop {
    opacity: 0.7 !important;
}
